#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span
,

.fp-slidesNav ul li a.active span {
  background-color: rgb(172, 168, 168);
}

#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: '40px' !important;
  height: '40px'!important;
  margin: 7px;
  position: relative;
}